@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-montserrat: "Montserrat Variable", var(--font-sans), sans-serif;
  --font-opensans: "Open Sans Variable", var(--font-sans), sans-serif;
}

html,
body {
  font-family: var(--font-opensans);
  @apply bg-white dark:bg-gray-950;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

@media screen and (max-width: 639px) {
  nav li:not(:last-child) {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
  }
  nav li:last-child {
    padding-top: 8px;
  }
}

#HeroBg::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: var(--color-gray-800);
  background-image: radial-gradient(
    circle at center,
    #000 0.1px,
    transparent 3px
  );
  background-size: 4px 4px;
  opacity: 60%;
  animation: moveSpots 20s linear infinite;
}

@keyframes moveSpots {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 100px 100px;
  }
}

@keyframes shadowGlow {
  from {
    box-shadow: 0 0 25px 1px var(--color-rose-700);
  }
  to {
    box-shadow: 0 0 25px 7px var(--color-rose-700);
  }
}

@keyframes textGlow {
  from {
    text-shadow: 0 0 25px 1px var(--color-rose-700);
  }
  to {
    text-shadow: 0 0 25px 7px var(--color-rose-700);
  }
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 100;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}

.animate-shadowGlow {
  animation: shadowGlow 1s ease-in-out alternate infinite;
}

.animate-textGlow {
  animation: textGlow 1s ease-in-out alternate infinite;
}

.animate-ripple {
  animation: ripple 500ms ease-out;
}
